{% extends 'frontend/navbar.html' %}
{% load static %}

{% block title %}Quiz Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
  {% block content %}
  <header>
    <h1>MindSprint</h1>
    <div class="controls">
      <input type="text" id="search" placeholder="Search quizzes..." class="search-bar">
      <select id="filter" class="filter-dropdown">
        <option value="all">All Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
  </header>


  <main>
    <div class="quiz-grid" id="quiz-container">
      {% for quiz in quizes %}
      <div class="quiz-card" data-id="{{ quiz.id }}" data-difficulty="{{ quiz.difficulty }}">
        <a href="{% url 'delete-quiz' quiz.id %}" style="text-decoration: none; color: inherit;"><button class="delete-quiz-btn">Delete</button></a>
        <img src="{{ quiz.image }}" alt="Puzzles" class="quiz-image">
        <div class="quiz-content">
          <h3 class="quiz-title">{{ quiz.title }}</h3>
          <p class="quiz-description">{{ quiz.description }}.</p>
          <span class="quiz-difficulty difficulty-{{ quiz.difficulty }}">{{ quiz.difficulty }}</span>
          <a href="{% url 'get-quiz' quiz.id %}" style="text-decoration: none; color: inherit;"><button class="start-button" data-id="{{ quiz.id }}">Start Quiz</button></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  

  {% endblock %}
  {% block extra_js %}
    <script src="{% static 'js/dashboard.js' %}"></script>
  {% endblock %}
