{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MindSprint{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
          <button id="toggle-btn" class="toggle-btn">☰</button>
          <ul id="sidebar-content" class="sidebar-content">
            <a href="{% url 'profile' %}" style="text-decoration: none; color: inherit;"><li>Profile</li></a>
            <a href="{% url 'quizes' %} " style="text-decoration: none; color: inherit;"><li>Quizzes</li></a>
            <a href="{% url 'create-quiz' %} " style="text-decoration: none; color: inherit;"><li>Create Quiz</li></a>
            <a href="{% url 'detail' %} " style="text-decoration: none; color: inherit;"><li>Help</li></a>
            <a href="{% url 'logout' %}"><li class="logout">Logout</li></a>
          </ul>
        </div>
    
        <!-- Page Content -->
        <div class="main-content">
          {% block content %}
          <!-- Child page content goes here -->
          {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/navbar.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
